.container {
  background: rgb(241, 172, 190);
  padding: 40px 60px 20px;
  color: rgba(254, 247, 249, 1);
  border-radius: 8px;
}
.container .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: small;
}

@media (max-width: 1000px) {
  .container .columns {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-one, .col-two, .col-three{
    width: 30%;
  }
  .col-four, .col-five{
    width: 40%;
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .container .columns {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-one, .col-two, .col-three,.col-four{
    width: 50%;
  }
  .col-five{
    width: 100%;
  }
  .col-one .input svg{
    right: 50px;
  }
}
@media (max-width: 590px) {
  .container .columns {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-one, .col-two, .col-three,.col-four{
    width: 50%;
  }
  .col-five{
    width: 100%;
  }
  .col-one .input svg{
    right: 10px;
  }
}
@media (max-width: 540px) {
  .container .columns {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
  }
  .col-one, .col-two, .col-three,.col-four,.col-five{
    width:100%;
    margin-top: 20px;
  }

  .col-one .input svg{
    right: 70px;
  }
}
@media (max-width: 370px) {
  .container .columns {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-one, .col-two, .col-three,.col-four,.col-five{
    width: 100%;
  }

  .col-one .input svg{
    right: -25px;
  }
}

.img {
  background-color: rgba(249, 236, 230, 1);
  background-image: url("../../../assets/Bear 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 241px;
  border-radius: 30px;
  width: 120px;
  height: 120px;
  position: relative;
}
.col-three a, .col-four a{
  text-decoration: none;
  color: #fef6f8;
}
.col-three a:hover, .col-four a:hover{
  color:#4ab0ad ;
}

.input {
  position: relative;
}
.input input {
  border: 1px solid #fef6f8;
  border-radius: 2px;
  outline: none;
  background-color: #f1acbe;
  color: #fef6f8;
  padding-left: 10px;
}

.input svg {
  position: absolute;
  top: -9px;
  right: 20px;
  font-size: 10px;
  fill: #fef6f8;
}
input::placeholder {
  color: #fef6f8;
}

.col-five {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}
.col-five .social {
  width: 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social img {
  width: 20px;
  height: 20px;

}

.copyright {
  text-align: center;
}
