.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: small;
  border: 0.5px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* product */
.order-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 500px) {
  .product-info {
    text-align: center;
    flex-direction: column;
  }
  .product span {
    text-align: center;
  }
}
.product-info img {
  width: 50px;
  height: 50px;
}
.product span {
  width: 90px;
}
.parent-product {
  max-height: 280px;
  overflow: auto;
}
/* cart */
.total-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 160px;
}
.cart {
  padding-top: 10px;
}
/* payment options */
.payment-options {
  display: flex;
  justify-content: space-between;
}
.card-logos {
  gap: 1px;
}
.logos {
  height: 28px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.option {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.option > * {
  cursor: pointer;
}

/* Place Order button */
.place-order {
  margin-top: 20px;
  width: fit-content;
  align-self: end;
}
button {
  background-color: #fe608a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
button:hover {
  color: white;
  background-color: #f14673 !important;
}
