<div class="container">
    <div class="order-form">
      <!-- product -->
      <div class="product">
        <img src="assets/games.svg" alt="LCD Monitor">
        <div class="product-info">
          <span>LCD Monitor</span>
          <span> $650</span>
        </div>
      </div>
      <!-- cart -->
     <div class="cart">
       <div class="total-item">
        <span>Subtotal:</span>
        <span>$1750</span>
      </div>
      <hr>
      <div class="total-item">
        <span>Shipping:</span>
        <span>Free</span>
      </div>
     <hr>
      <div class="total-item">
        <span>Total:</span>
        <span>$1750</span>
      </div>
    </div>
    <!-- payment options-->
      <div class="payment-options">
        <div class="option">
          <input type="radio" name="payment" id="bank">
          <label for="bank">Bank</label>
        </div>
        <div class="option">
          <input type="radio" name="payment" id="cash">
          <label for="cash">Cash on delivery</label>
        </div>
        <div class="logos">
          <img src="assets/img1.svg" alt="ikash">
          <img src="assets/img2.svg" alt="visa">
          <img src="assets/img3.svg" alt="mastercard">
          <img src="assets/img4.svg" alt="nogod">
        </div>
      </div>
<!-- coupon  -->
<div class="coupon">
  <input type="text" placeholder="Coupon Code" />
  <button>Apply Coupon</button>
</div>
<!-- Place Order button -->
  <button class="place-order">Place Order </button>
</div>














