* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.container {
  background: #4ab0ad;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  color: rgba(254, 247, 249, 1);
  padding: 80px 20px;
  border-radius: 8px;
  max-width: 100%;
}

.place-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  width: 500px;
  position: relative;
  align-self: end;
}

img {
  width: 500px;
}

.place-img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(81px);
  -webkit-transform: translateX(-50%) translateY(81px);
  -moz-transform: translateX(-50%) translateY(81px);
  -ms-transform: translateX(-50%) translateY(81px);
  -o-transform: translateX(-50%) translateY(81px);
}

.box {
  width: 40%;
  display: flex;
  flex-direction: column;
  line-height: 21px !important;
}

@media (max-width: 1180px) {
  .place-img {
    order: 1;
    width: 100% !important;
  }

  .place-img img {
    position: static;
    align-self: center !important;
    margin-top: 0px;
    transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -o-transform: translateX(0%) translateY(0%);
  }

  .box {
    align-items: center;
    flex-grow: 0 !important;
    width: 100% !important;
  }

  .box > * {
    width: 70% !important;
  }

  .buttons {
    justify-content: space-around !important;
  }

  .buttons a {
    width: 30% !important;
  }

  .container {
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }

  .place-img {
    max-width: 100%;
    padding-top: 20px;
  }
}

h2 {
  font-size: 50px;
}

h2 + p {
  font-size: 20px;
  line-height: 25px;
}

@media (max-width: 1260px) {
  .container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: center;
    text-align: center;
  }

  .box {
    flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }

  img {
    width: 90%;
    margin-top: 50px;
  }

  .box > * {
    width: 90% !important;
  }
}

@media (max-width: 435px) {
  h2 {
    font-size: 2.1rem;
  }

  img {
    width: 100%;
  }

  .box > * {
    width: 100% !important;
  }

  .buttons {
    justify-content: space-between !important;
  }

  .buttons a {
    width: 40% !important;
  }

  .place-img {
    padding: 0 !important;
  }

  .container {
    gap: 0 !important;
  }

  p {
    text-align: start !important;
  }

  .place-img {
    padding-top: 10px !important;
  }
}

p {
  line-height: 1.8;
  margin: 25px 0px 25px 0px;
  text-align: justify;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.buttons a {
  width: 45%;
  border-radius: 4px;
  font-size: 15px;
  padding: 8px 0;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
}
.buy-now {
  background-color: #2b8a9f;
  color: rgb(255, 255, 255);
  border: none;
}
a:not(.buy-now) {
  color: rgb(43 138 159);
  border: 1px solid rgba(254, 247, 249, 1);
  background-color: AZURE;
}

.buttons a:hover {
  background-color: rgba(74, 176, 173, 1);
  color: rgba(254, 247, 249, 1);
  border: 1px solid rgba(254, 247, 249, 1);
}

.buttons .buy-now:hover {
  background-color: rgba(254, 247, 249, 1);
  color: #2b8a9f;
  border: 1px solid #2b8a9f;
}
