* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.container {
  background: #4ab0ad;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  color: rgba(254, 247, 249, 1);
  padding: 2rem;
  border-radius: 8px;
  max-width: 100%;
}

@media(max-width:918px){
  .container{
    padding: 1rem;
  }
}

.place-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  width: 500px;
  position: relative;
  align-self: end;
}

.place-img img {
  position: absolute;
  width: 85%;
  bottom: -33px;
  left: 0;
}

@media (max-width: 1007px) {
  .place-img img{
    left: -10px;
    width: 100%;
  }
}

@media (max-width: 918px) {
  .place-img img{
    bottom: -16px;
    left: 0;
  }
}

.box {
  width: 40%;
  display: flex;
  flex-direction: column;
  line-height: 21px !important;
}

@media (max-width: 1007px){
  .box {
    width: 70% ;
  }
}

h2 {
  font-size: 35px;
}

p {
  font-size: 17px;
  line-height: 23px;
  margin: 15px 0px 25px 0px;
  text-align: justify;
}

@media (max-width: 918px) {
  p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .box {
    align-items: center;
    flex-grow: 0 !important;
    width: 100% !important;
  }

  .place-img {
    order: 1;
    width: 70% !important;
    transform: translateX(-17%) translateY(1rem);
    -webkit-transform: translateX(-25%) translateY(1rem);
    -moz-transform: translateX(-17%) translateY(1rem);
    -ms-transform: translateX(-17%) translateY(1rem);
    -o-transform: translateX(-17%) translateY(1rem);
}

  img {
    position: static !important;
    align-self: center !important;
}

  .box > * {
    width: 90% !important;
  }
}

@media (max-width: 435px) {
  h2 {
    font-size: 2.1rem;
  }

  img {
    width: 100%;
  }

  .box > * {
    width: 100% !important;
  }

  .buttons {
    justify-content: space-between !important;
  }

  .buttons a {
    width: 40% !important;
  }

  .place-img {
    padding: 0 !important;
  }

  .container {
    gap: 0 !important;
  }

  p {
    text-align: start !important;
  }

  .place-img {
    padding-top: 10px !important;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.buttons a {
  width: 45%;
  border-radius: 4px;
  font-size: 15px;
  padding: 8px 0;
  transition: all 0.5s;
  text-decoration: none;
  text-align: center;
}
.buy-now {
  background-color: #2b8a9f;
  color: rgb(255, 255, 255);
  border: none;
}
a:not(.buy-now) {
  color: rgb(43 138 159);
  border: 1px solid rgba(254, 247, 249, 1);
  background-color: AZURE;
}

.buttons a:hover {
  background-color: rgba(74, 176, 173, 1);
  color: rgba(254, 247, 249, 1);
  border: 1px solid rgba(254, 247, 249, 1);
}

.buttons .buy-now:hover {
  background-color: rgba(254, 247, 249, 1);
  color: #2b8a9f;
  border: 1px solid #2b8a9f;
}
