/* body{
  background-color: ;
  font-family: ;
  height: 100vh;
}



.container{
display: grid;
grid-template-columns: 1fr 2fr;

max-width: 800px;
margin: 0 auto;
background-color: ;

}


.img1{
  width: 100%;
  height: auto;

}

.container1{
  text-align: justify;
}
.container1 h2{
  text-align: justify;
color: #4C5660

}

.container1 p{
  font-size: ;
  color:#4C5660;
}


.container2{
  background-color: #D7F0F1;
}

.container2 h2{
  text-align: justify;

color: #1F1F1F;
font-weight: 700;
size: 31px;
}
.container2 p{
color: #1F1F1F;
}

.img2{
  width: 100%;
  height: auto;
} */


.child{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

/* @media (min-width: 700px) {
  nav ul {
    display: flex;
  }
} */




.child >div{
width: 48%;
}
.child img{
  width: 100%;
  height: 100%;
}
.child item2{
  background-color: #D7F0F1;
}
.child item2 h2{
  color: #1F1F1F;
  font-weight: 700;
  font-size: 30px;
}
.child p{
  color: #1F1F1F;
  font-weight: 500;
  font-size: 17px;
}
.item2{
  background-color: #D7F0F1;
}
.child item1 h2{
 color:  #4C5660;
  font-weight: 700;
  font-size: 30px;
}

/* @media (max-width: 767px) {
  nav {
    display: none;
  }
} */
