.parent{
  width: 95%;
  margin: 0 auto;
}

@media(max-width:768px){
  .parent{
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}


.photo{
  height: 100vh;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:768px){
  .photo{
    max-height: 100vh;
    height: auto;
  }
}

.photo img{
  width: 90%;
  max-width: 100%;
  max-height: 100%;
}

@media(max-width:768px){
  .photo img{
    width: 100%;
  }
}

/* Start Handling Rating Stars */
.filled-star {
  color: rgb(241, 172, 190);
}

.empty-star {
  color: rgb(241, 172, 190);
}

.stars span svg{
  fill: #FFAD33;
}

.stars{
  gap: 0.4rem
}

@media(max-width:842px){
  .star-parent{
    gap: 2rem !important;
  }
}

.rating-count{
  color: darkgray;
  position: relative;
}

.rating-count::after{
  content: "";
  background-color: darkgrey;
  position: absolute;
  top: 0px;
  left: 121px;
  width: 1px;
  height: 25px;
}

.stock{
  color: #4AB0AD;
}

.last{
  color: #F2BD03;
}

.out-Stock{
  color: red;
}

.availability{
  margin-bottom: 0.5rem;
}
/* ------------------End Handling Rating Stars---------------------- */
.desc{
  line-height: 19px;
}
/* Start Size */
.size{
  margin: 22px 0;
}
.size button{
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  margin-top: -5px;
}

.size button:hover{
  background-color: rgb(241, 172, 190);
  color: white;
}

.size button:active{
  opacity: 0.8;
}

.size button.selected {
  background-color: #FF6584;
  color: white;
}
/* --------------------End Size------------------------------------- */
/* Start Counter & Buy Button */
.quantity{
  margin-top: -7px;
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
}

.counter span {
  padding: 4px 20px;
  font-size: 18px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.counter-btn,
.buy {
  background-color: #FF6584;
  color: white;
  border: none;
  padding: 5px 1.5rem;
  font-size: 18px;
  cursor: pointer;
}

.buy{
  border-radius: 4px;
  padding: 4px 2rem;
}

@media(max-width: 972px){
  .counter-btn,
  .buy{
    padding: 5px 1rem;
  }
}

@media(max-width: 827px){
  .counter-btn{
    padding: 5px 0.9rem;
  }
  .buy{
    padding: 5px 1.2rem;
  }
  .counter span{
    padding: 5px 1rem;
  }
}

.counter-btn:active,
.buy:active,
.favorite:active {
  opacity: 0.8;
}
/* ------------------------End Counter & Buy Button------------------------- */
.favorite{
  background-color:transparent;
  border: 1px solid lightgrey;
    padding: 0 8px;
    border-radius: 5px;
}

.favorite:hover{
  background-color:#FF6584;
}

.favorite:hover svg{
  fill: white;
}

button.favorited {
  background-color: #FF6584;
}

button.favorited svg{
  fill: white;
}
/* ------------------------------------------------------- */
/* Start purchase */
.purchase{
  position: relative;
    border: 1px solid darkgrey;
    margin-top: 32px;
    padding: 18px;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}

@media(max-width: 768px){
  .purchase{
    max-width: 18.5rem;
  }
}

.purchase::after{
  content: "";
  background-color: darkgrey;
  position: absolute;
  top: 72px;
  left: 0px;
  width: 100%;
  height: 1px;
}

.text-1{
  font-weight: 500;
  line-height: 1.2rem;
}

.small{
  color: inherit;
}

@media(max-width: 920px){
  .small{
    font-size: 12px;
    color: inherit !important;
  }
}

@media(max-width: 831px){
  .small{
    font-size: 10px;
  }
}
/* --------------------------------End purchase------------------------ */
